#lexical-editor {
  i.chevron-down {
    background-image: url(../images/icons/chevron-down.svg);
  }

  i.palette {
    background-image: url(../images/icons/palette.svg);
  }

  i.bucket {
    background-image: url(../images/icons/paint-bucket.svg);
  }

  i.bold {
    background-image: url(../images/icons/type-bold.svg);
  }

  i.italic {
    background-image: url(../images/icons/type-italic.svg);
  }

  i.clear {
    background-image: url(../images/icons/trash.svg);
  }

  i.underline {
    background-image: url(../images/icons/type-underline.svg);
  }

  i.uppercase {
    background-image: url(../images/icons/type-uppercase.svg);
  }

  i.lowercase {
    background-image: url(../images/icons/type-lowercase.svg);
  }

  i.capitalize {
    background-image: url(../images/icons/type-capitalize.svg);
  }

  i.strikethrough {
    background-image: url(../images/icons/type-strikethrough.svg);
  }

  i.subscript {
    background-image: url(../images/icons/type-subscript.svg);
  }

  i.superscript {
    background-image: url(../images/icons/type-superscript.svg);
  }

  i.link {
    background-image: url(../images/icons/link.svg);
  }

  .icon.plus {
    background-image: url(../images/icons/plus.svg);
  }

  .icon.caret-right {
    background-image: url(../images/icons/caret-right-fill.svg);
  }

  .icon.dropdown-more {
    background-image: url(../images/icons/dropdown-more.svg);
  }

  .icon.font-color {
    background-image: url(../images/icons/font-color.svg);
  }

  .icon.bg-color {
    background-image: url(../images/icons/bg-color.svg);
  }

  .icon.fullscreen {
    background-image: url(../images/icons/fullscreen.svg);
  }

  .icon.exit-fullscreen {
    background-image: url(../images/icons/exit-fullscreen.svg);
  }

  i.success {
    background-image: url(../images/icons/success.svg);
  }

  i.prettier {
    background-image: url(../images/icons/prettier.svg);
  }

  i.prettier-error {
    background-image: url(../images/icons/prettier-error.svg);
  }

  .icon.paragraph {
    background-image: url(../images/icons/text-paragraph.svg);
  }

  .icon.h1 {
    background-image: url(../images/icons/type-h1.svg);
  }

  .icon.h2 {
    background-image: url(../images/icons/type-h2.svg);
  }

  .icon.h3 {
    background-image: url(../images/icons/type-h3.svg);
  }

  .icon.h4 {
    background-image: url(../images/icons/type-h4.svg);
  }

  .icon.h5 {
    background-image: url(../images/icons/type-h5.svg);
  }

  .icon.h6 {
    background-image: url(../images/icons/type-h6.svg);
  }

  .icon.link-edit {
    background-image: url(../images/icons/pencil-fill.svg);
  }

  .icon.link-trash {
    background-image: url(../images/icons/trash.svg);
  }

  .icon.link-cancel {
    background-image: url(../images/icons/close.svg);
  }

  .icon.link-confirm {
    background-image: url(../images/icons/success-alt.svg);
  }

  .icon.numbered-list,
  .icon.number {
    background-image: url(../images/icons/list-ol.svg);
  }

  .icon.bullet-list,
  .icon.bullet {
    background-image: url(../images/icons/list-ul.svg);
  }

  i.annotation {
    background-image: url(../images/icons/annotation.svg);
  }
}